<div class="container-fluid">
  <div class="row full-height">
    <!-- Left Panel -->
    <div class="col-md-5 col-12 left d-flex flex-column justify-content-center align-items-center text-center p-4">
      <div class="left-inner mt-5">
        <h1 class="title mb-4">Advance POS System</h1>
        <p class="desc">
          Empowering your business with <br />
          seamless sales, smart inventory, <br />
          and real-time insights
        </p>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col-md-7 col-12 right d-flex align-items-center justify-content-center">
      <div class="form-wrapper">
        <h1 class="mb-4 text-center">Welcome Back</h1>

        <div class="position-relative mb-3">
          <select class="form-control" [(ngModel)]="user.userType">
            <option value="">User Type</option>
            <option value="Admin">Admin</option>
            <option value="Employee">Employee</option>
          </select>
        </div>

        <div class="position-relative email-wrapper mb-3">
          <input type="text" placeholder="Email" [(ngModel)]="user.email" class="form-control email-input" />
          <span class="email-domain position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); color: gray;">&#64;outlook.com</span>
        </div>

        <input type="password" placeholder="Password" [(ngModel)]="user.password" class="form-control mb-3" />

        <div class="small-text text-end"><a href="#">Forget Password?</a></div>

        <button class="btn btn-dark w-100 mt-3" (click)="login()">Login</button>

        <p class="small-text text-center">Don't have an account? <a href="#">Click</a></p>
      </div>
    </div>
  </div>
</div>
