<div class="form-container">

  <h3 class="form-title">Company Info Settings</h3>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Language</label>
                <input type="text" class="form-control" id="language" value="English" readonly>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" value="POS27">
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="companyEmail">Company Email Address</label>
                <input type="email" class="form-control" id="companyEmail" value="pos27@gmail.com">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="countryCode">Country Code</label>
                <input type="text" class="form-control" id="countryCode" value="1">
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="companyPhone">Company Phone</label>
                <input type="tel" class="form-control" id="companyPhone" value="1234567890">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="companyAddress">Company Address</label>
                <input type="text" class="form-control" id="companyAddress" value="Los Angeles, California, USA">
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="companyLogo">Company Logo</label>
                <div class="file-upload-container">
                    <input class="form-control" id="formFileLg" type="file">
                  </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-12">
              <!--<span class="logo-lg">
                <img src="assets/images/PosLogo.png" alt="logo-dark" height="100">
              </span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
